body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
}

button{
    cursor: pointer;
}

.hidden{
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*COMMON*/

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*HEADER*/

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-bar,
.address{
    display: none;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    padding: 16px 0;
}

.logo span {
    color: #2e2f42;
}

.menu-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-svg{
    fill: #2f2f37;
}

.menu-btn:hover,
.menu-btn:focus{
    fill: #4d5ae5;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }

    .menu-bar{
        display: flex;
        gap: 40px;
    }

    .address{
        display: block;
    }

    .nav{
        display: flex;
    }

    .logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-bar,
    .nav-bar-active {
        font-weight: 500;
        letter-spacing: 0.02em;
        display: block;
        position: relative;
        color: #2E2F42;
    
        padding: 24px 0;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-bar-active {
        color: #404bbf;
    }

    .nav-bar-active::after {
        content: '';
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    .address-bar {
        display: flex;
        flex-direction: column;
        font-style: normal;
        gap: 12px;
    }

    .address-li {
        display: block;
        padding: 16px 0;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 14px;
        color: #434455;
        padding: 0;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-bar:hover,
    .nav-bar:focus,
    .address-li:hover,
    .address-li:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .logo{
        margin-right:  76px;
    }

    .address-bar{
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    .address-li{
        padding: 24px 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }
}

/*MOBILE-MENU*/

.menu-svg {
    fill: #2F2F37;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 4px;
    padding: 0;

}

.menu-svg:focus,
.menu-svg:hover {
    fill: #4D5AE5;
    background-color: transparent;
}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: #fff;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
/*
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    pointer-events: none;*/
}

.mobile-overlay.is-open {
    /*
    opacity: 1;
    pointer-events: auto;
    */
    transform: translateX(0);
}

.container-mob {
    width: 320px;
    padding: 0 16px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-svg-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .modal-svg-close,
.btn-close:focus .modal-svg-close {
    fill: #ffffff;
}

.menu-bar-mob {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;
}

.nav-mob{
    margin-bottom: auto;
}

.nav-bar-mob {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    display: block;
    position: relative;
    color: #2E2F42;


    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-bar-mob:hover,
.nav-bar-mob:focus {
    color: #404bbf;
}

.address-mob {

    margin-bottom: 48px;
}

.address-bar-mob {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-ul-mob {
    display: flex;
    gap: 40px;
}

.address-li-mob {
    display: block;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-li-mob:hover,
.address-li-mob:focus {
    color: #404bbf;
}

.footer-ul {
    display: flex;
    gap: 16px;

}

.footer-li {
    width: 40px;
    height: 40px;
}

.footer-li .link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-li a:hover,
.footer-li a:focus {
    background-color: #31d0aa;

}

.footer-li .social-svg {
    fill: #f4f4fd;

}

@media screen and (min-width: 768px){
    .mobile-overlay{
        display: none;
    }
}

/*SECTION WELCOME*/

.welcome {
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/mobile-bg.jpg);
    padding: 72px 0;
    margin: auto;
    max-width: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-resolution: 192dpi){
    .welcome{
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg_mob@2x.jpg);
    }
}

.effect {
    font-size: 36px;
    font-weight: 700;
    color: white;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 216px;
    margin: auto;
}

.btn {
    display: block;
    margin: auto;
    background-color: #4D5AE5;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    margin-top: 72px;
    min-width: 169px;
    height: 56px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .welcome {
        background-image: linear-gradient(to bottom,
         rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
        url(../images/tab-bg.jpg);
        padding: 112px 0;
        max-width: 768px;
    }

    .effect {
        font-size: 56px;
        font-weight: 700;
        color: white;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin: auto;
    }

    .btn{
        margin-top: 36px;
    }
}

@media screen and (min-width: 1158px){
    .welcome {
        background-image: linear-gradient(to bottom,
         rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
        url(../images/bg-office.jpg);
        padding: 188px 0;
        max-width: 1440px;
    }

    .btn {
        margin-top: 48px;
    }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
    .welcome {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg_tab@2x.jpg);
    }
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
    .welcome {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg_desk@2x.jpg);
    }
}

/*SECTION FEATURE*/

.feature-svg{
    display: none;
}

.feature {
    padding: 96px 0;
}

.feature-menu {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.title{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    color: #2e2f42;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.desc{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px){
    .title{
        text-align: start;
    }

    .feature-menu {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    
    .feature-card {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px){
    .feature{
        padding: 120px 0;
    }
    
    .feature-svg{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        max-width: 100%;
        background-color: #F4F4FD;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .feature-menu{
        flex-wrap: nowrap;
    }

    .title{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }

    .desc{
        font-weight: 400;
    }
}

/*SECTION TEAM*/

.team{
    background-color: #F4F4FD;
    padding: 96px 0;
}

.title-team {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: #2E2F42;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-desc {
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-card {
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
    background-color: white;
    max-width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 0;
}

.team-list {
    display: flex;
    flex-direction: column;

    gap: 72px;
}

.social-svg {
    fill: #F4F4FD;
}

.social-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-li {
    height: 40px;
    width: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-li a:hover,
.social-li a:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px){
    .team-list{
        padding: 0 92px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-card{
        margin: 0;
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px){
    .team{
        padding: 120px 0;
    }

    .team-list {
        padding: 0;
        flex-direction: row;
        gap: 24px;
    }
}

/*SECTION PORTFOLIO*/

.portfolio {
    padding: 96px 0;
}

.portfolio-menu {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-card {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title,
.portfolio-desc {
    text-align: left;
    letter-spacing: 0.02em;
    line-height: 24px;
}

.portfolio-title {
    margin-bottom: 8px;
}

.img-card {
    position: relative;
    overflow: hidden;
}

.img-trans {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-card:hover .img-trans {
    transform: translateY(0%);
}

@media screen and (min-width: 768px){
    .portfolio-menu{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-card {
        width: 356px;
    }

    .img-card{
        height: 300px;
    }
}

@media screen and (min-width: 1158px){
    .portfolio{
        padding: 120px 0;
    }

    .portfolio-menu{
        gap: 48px 24px;
    }

    .portfolio-card {
        width: 360px;
    }
}

/*SECTION FOOTER*/

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 96px 0;
}

.logo-footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin: auto;
    margin-bottom: 16px;
}

.logo-footer span {
    color: #f4f4fd;
}
.footer-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 72px;
}

.desc-footerr{
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-input {
    width: 288px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 24px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-label input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;

    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 0;

    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;

}

.footer-svg-send {
    fill: white;
    margin-left: 16px;
}

@media screen and (min-width: 768px){
    .footer .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 108px;
    }

    .footer-desc{
        width: 264px;
        margin-right: 24px;
    }

    .logo-footer{
        margin-left: 0;
    }

    .social-media{
        align-items: start;
    }

    .footer-form{
        flex-direction: row;
        gap: 24px;
    }

    .desc-footerr{
        text-align: left;
    }

    .footer-input{
        width: 264px;
    }

}

@media screen and (min-width: 1158px){
    .footer{
        padding: 100px 0;
    }

    .footer .container{
        padding: 0 15px;
    }

    .footer-desc{
        margin: 0 120px 0 0;
    }

    .social-media{
        margin: 0 80px 0 0;
    }

    .footer-input{
        border-color: #fff;
    }

    .footer-input::placeholder{
        color: #FFF;
    }
}


/*MODAL WINDOW*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 288px;
    min-height: 584px;
    padding: 72px 16px 24px;

    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-div {
    margin-bottom: 8px;
}

.form-div-text {
    margin-bottom: 16px;
}

.name-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    gap: 4px;
}

.label-div {
    position: relative;

}

.input-form {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-form:focus {
    border-color: #4D5AE5;
}


.modal-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-div:focus-within .modal-svg {
    fill: #4D5AE5;
}

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-svg-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .modal-svg-close,
.btn-close:focus .modal-svg-close {
    fill: #ffffff;
}

.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.form-checkbox {
    margin-bottom: 24px;
}

.form-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.span-label {
    min-width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.a-label {
    color: #4d5ae5;
    text-decoration: underline 0%;
}


.modal-button {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#user-privacy:checked+label .span-label {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-div-button {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px){
    .modal{
        width: 408px;
        padding: 72px 24px 24px ;
    }
}